@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Julee&display=swap');

* {
  font-family: 'Poppins', sans-serif;
}

body {
  margin: 0px !important;
}

.julee {
  font-family: 'Julee', cursive;
}

.body {
  background-color: #0f0f0f !important;
  color: #e4e4e4;
  min-height: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 5%;
  gap: 20px;
}

.header .logo-container {
  width: 20%;
  display: flex;
  align-items: center;
  gap: 10px;
}
.header .search-container {
  width: 30%;
  padding-top: 20px;
}
.header .items-container {
  width: 50%;
  padding-left: 50px;
  display: flex;
  align-items: center;
  gap: 30px;
}

.header .logo-container img {
  width: 40px;
}
.header .logo-container h2 span {
  color: #ae231a;
}
.header .items-container .item {
  letter-spacing: 0.1em;
  padding: 0px 8px;
  border-radius: 8px;
  background-color: #161616;
  display: inline-block;
  cursor: pointer;
  transition: all 0.3s ease;
}
.header .items-container .item .text {
  padding: 10px 7px;
}
.header .items-container .item.active .text {
  border-bottom: 2px solid #ae231a;
}
.header .items-container .item:hover .text {
  border-bottom: 2px solid #ae231a;
}
.header .items-container .item:hover {
  transform: translateY(-2px);
}

/* Banner */
.banner-carousel {
  position: relative;
  height: 50vh;
  background-color: #060606;
  border-radius: 20px;
  margin: 10px 5%;
  overflow: hidden;
}
.banner-container {
  display: flex;
  justify-content: space-between;
  gap: 70px;
  padding-top: 20px;
}

.banner-container .quality {
  margin-bottom: 20px;
}

.banner-container .banner-info {
  width: 46vw;
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  text-align: left;
}

.banner-container .banner-info p {
  font-size: 16px;
}

.banner-container .banner-img {
  position: relative;
  width: 30vw;
  overflow: hidden;
  padding-top: 20px;
}

.banner-container .banner-info h2 {
  font-size: 3rem;
  font-weight: 700;
}

.banner-container .banner-img img {
  width: 300px;
  object-fit: cover;
  border-radius: 15px;
  -webkit-mask-image: url('../splash3.png');
  -webkit-mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: top;
}

.container {
  margin: 50px 5%;
}

.card-container {
  display: flex;
  gap: 20px;
  flex-direction: row;
  flex-wrap: wrap;
}

.card-container .card {
  position: relative;
  width: 200px;
  height: 300px;
  max-height: 300px;
  border-radius: 15px;
  overflow: hidden;
  background-size: cover;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.card-container .card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
  mask-image: linear-gradient(#000, #000, rgba(0, 0, 0, 0));
  transition: transform 0.3s ease;
}

.card-container .card .card-content {
  position: absolute;
  bottom: 0px;
  width: 100%;
  padding: 15px;
  min-height: 60px;
  border-radius: 0 0 15px 15px;
  z-index: 1;
}

.card-container .card:hover img {
  transform: scale(1.1);
}
.card-container .card:hover .card-content-hover {
  opacity: 1;
}

.card-container .card-content-hover {
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
  transition: transform 0.3s ease;
}

.card-container .rating {
  position: absolute;
  z-index: 20;
}

.card-container .quality {
  position: absolute;
  right: 0;
  z-index: 20;
}

.card-container .time {
  position: absolute;
  left: 0;
  bottom: 80px;
  z-index: 20;
}

.header-card-container {
  display: flex;
  justify-content: space-between;
}

.content-tab {
  letter-spacing: 0.15em;
  margin-bottom: 20px;
  padding: 8px 0px;
  border-radius: 10px;
  background-color: #161616;
  display: inline-block;
}

.content-tab h2 {
  padding: 2px 20px;
  border-left: 2px solid #ae231a;
}

.banner-container .info {
  position: absolute;
  bottom: 30px;
  right: 30px;
}

.info-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.info-container .info {
  padding: 10px 20px;
  background-color: #161616;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
  letter-spacing: 0.05em;
  transition: all 0.3s ease;
}

.info-container .info:hover {
  background-color: #ae231a;
  color: white;
}

.line-clamp-8 {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.5;
  max-height: calc(1.5em * 4);
}

.search-modal-container {
  width: 100%;
  padding: 20px 5%;
}

.slide-fade-enter-active {
  transition: all 0.3s ease-out;
}

.slide-fade-leave-active {
  transition: all 0.3s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-enter-from,
.slide-fade-leave-to {
  transform: translateY(-20px);
  opacity: 0;
}

.pagination-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 10px;
  margin-bottom: 40px;
}

@media (max-width: 768px) {
  .header {
    flex-wrap: wrap;
    gap: 0px;
  }
  .header .logo-container {
    width: 15%;
  }
  .header .logo-container .title {
    display: none;
  }
  .header .search-container {
    width: 75%;
  }
  .header .items-container {
    width: 100%;
    padding-left: 0px;
    gap: 10px;
    flex-wrap: wrap;
  }
  .header .items-container .item {
    padding: 0px 3px;
  }

  .banner-carousel {
    margin: 10px 3%;
    height: 40vh;
  }
  .banner-container {
    justify-content: start;
    gap: 10px;
    padding-top: 15px;
    flex-direction: column;
  }
  .banner-container.banner-container {
    padding-left: 25px;
  }

  .banner-container .banner-info {
    width: 94vw;
    padding-left: 15px;
    height: 40vh;
    z-index: 1;
  }

  .banner-container .banner-info p {
    font-size: 14px;
  }

  .banner-container .banner-img {
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 94vw;
    overflow: hidden;
    padding: 0px;
    object-fit: cover;
  }

  .banner-container .banner-info h2 {
    font-size: 1.5rem;
    font-weight: 600;
  }
  .banner-container .quality {
    margin-bottom: 15px;
  }

  .banner-container .banner-img img {
    width: 100%;
    -webkit-mask-image: none;
    opacity: 0.3;
  }

  .header-card-container {
    flex-direction: column;
    margin-bottom: 20px;
  }

  .card-container {
    width: 100%;
    display: flex;
    gap: 10px;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .card-container .card {
    width: 31%;
    height: 180px;
    max-height: 180px;
  }

  .card-container .card .card-content {
    position: absolute;
    bottom: 0px;
    width: 100%;
    padding: 5px;
    min-height: 60px;
    border-radius: 0 0 15px 15px;
    z-index: 1;
  }

  .card-container .rating {
    position: absolute;
    z-index: 20;
    padding: 5px 0px;
    font-size: 10px;
  }

  .card-container .quality {
    position: absolute;
    right: 0;
    z-index: 20;
    padding: 5px 0px;
    font-size: 10px;
  }
  .card-container .rating .mdi-star {
    display: none;
    margin: 0px;
  }
  .card-container .quality .mdi-movie {
    display: none;
    margin: 0px;
  }

  .card-container .time {
    position: absolute;
    left: 0;
    bottom: 80px;
    z-index: 20;
  }

  .banner-container.banner-container {
    padding-left: 0px;
  }

  .banner-container .info {
    bottom: 10px;
    right: 10px;
  }
}
